[Unit]
Description=yet-another-module
After=network.target
[Service]
ExecStart=/opt/yet-another-module/start-yet-another-server.js
Restart=always
User=bot
Group=bot
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/yet-another-module
[Install]
WantedBy=multi-user.target
